<%= form_for [@project, @task], html: {class: "form-horizontal"} do |f| %>
<% if @task.errors.present? %>
    <ul>
      <div class= "alert alert-danger"
        <% @task.errors.full_messages.each do |message| %>
          <p style="color:red"><%= message %></p>
          <% end %>
      </div>
    </ul>
  <% end %>



    <div class="form-group">
    <%= f.label :description, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :description, class: "form-control" %>
    </div>
  </div>

 <div class="form-group">
    <%= f.label :due_date, class: "col-sm-2 control-label" %>
    <div class="col-sm-2">
      <%= f.date_field :due_date, class: "form-control" %>
    </div>
    <span class="glyphicon glyphicon-calendar"></span>
  </div>


<div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <%= f.check_box :complete %>
            <span>Complete</span>
          </label>
        </div>
      </div>
    </div>

 <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>





<% end %>
