<div class="page-header">
  <%= link_to "Edit", edit_project_task_path(@project, @task), class:"btn btn-info pull-right" %>
  <h1>
    <%= @task.description %>
  </h1>
</div>

<ol class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li><%= link_to "Tasks", project_tasks_path(@project) %></li>
  <li><%= "Show" %></li>
</ol>
<div>
  <p>
    <strong>Due:</strong>
    <%= @task.date ? @task.date.to_formatted_s(:long) : @task.date %>
  </p>
  <p>
    <strong>Complete:</strong>
    <%= @task.complete.to_s.capitalize %>
  </p>
</div>

<h2>Comments</h2>

<div class="container">
  <% @comments.each do |comment| %>
  <div class="row row-fluid">
    <div class="col-md-2">
      <div class="row">
        <% if comment.user_id == nil %>
        <%= "deleted user" %>
        <% else %>
        <%= link_to comment.user.full_name, user_path(comment.user) %>
        <% end %>
      </div>
      <div class="row">
        <%= "#{time_ago_in_words(comment.created_at)}" %> ago
      </div>
    </div>
    <div class="col-md-10">
      <%= comment.description %>
    </div>
  </div>
  <br>
  <% end %>
</div>

<%= form_for(@comment, url: {:action => "create_comment"}, html: {:class => "form"}) do |f| %>
<div class="form-group col-md-10 col-md-offset-2">
  <%= f.text_area :description, class:"form-control" %>
</div>
<div class="form-group col-md-10 col-md-offset-2">
  <%= f.submit "Add Comment", {class:"btn btn-primary"} %>
</div>
<% end %>
