<div class="header">
  <h1>Sign In</h1>
</div>

<div class="row">
    <div class="well col-md-offset-4 col-md-4">
      <%= form_for signin_path do |f| %>

    <% if @sign_in_error %>
      <p>
        <%= @sign_in_error %>
      </p>
    <% end %>

      <div>
        <%= f.label :email %>
      </div>
      <div>
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div>
        <%= f.label :password %>
      </div>
      <div>
        <%= f.password_field :password, class: "form-control" %>
      </div>
    <br>
      <div>
        <%= f.submit "Sign in" %>
      </div>
  </div>
</div>

<% end %>
