<div class="container">
  <%= link_to "Destroy", @project, :class => "btn btn-danger pull-right new-task" ,
      :method => :delete, :data => { :confirm => 'Are you sure?' } %>
  <%= link_to "Edit", edit_project_path(@project),
      :class => "btn btn-primary pull-right new-task" %>



  <h1>
    <%= @project.name %>
  </h1>
  <ol class="breadcrumb">
    <li>
      <%= link_to "Projects", projects_path %>
    </li>
    <li class="active">
      <%= @project.name %>
    </li>
  </ol>

  <% if @project.tasks.count == 1 %>
    <%= link_to "#{@project.tasks.count} Task", project_tasks_path(@project) %>
  <% else %>
    <%= link_to "#{@project.tasks.count} Tasks", project_tasks_path(@project) %>
  <% end %>

  <%= @project %>
  <%= @project.users %>

  < %= if @project.users.count == 1 %>
    < %= link_to "#{@project.users.count} Membership", project_memberships_path(@project) %>
  < % else %>
    < %= link_to "#{@project.users.count} Memberships", project_memberships_path(@project)%>
  < % end %>

</div>
