<!DOCTYPE html>
<html>
<head>
  <title>Gcamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse topBar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "gCamp", root_path %>
    </div>
  </div><!--/.navbar-collapse -->
</div>

<div class="container">

<%= yield %>

  <hr>
  <footer class="page-footer" style="width 1140px">
    <div class="address">
      <strong>&copy; Denise McCoy 2014</strong><br>
        <a href="mailto:#">Denise.McCoy@gmail.com</a>
    </div>
    <%= link_to "About", about_path %> | <%= link_to "Terms", terms_path %> | <%= link_to "FAQS", faqs_path %>
    <hr>
  </footer>
</div>

</body>
</html>
